* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    font-family: 'Poppins',sans-serif;
}
:root{
    --bg-color:#dedcb0;
    --bg-second-color:#fffdd0;
    --text-color:#000000;
    --sidebar-color:#fcfcfc;
    --main-color:#FA8334;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);

}
.wrapper{
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header_bar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1px 5%;
    width: 100%;
    height: 70px;
    background-color: #303030f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header_bar a{
    font-size: 55px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 800;
    transition: .5s;
}
.header_bar a img{
    margin-top:40px ;
    margin-left: -60px;
    width: 240px;
    fill: #fcfcfc;
}
.header_bar a:hover{
    color: var(--main-color);
    font-size: 65px;
    text-shadow: 0 0 1rem var(--main-color);
}
.navbar a{
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 250;
    margin-left: 15px;
    transition: .5s;
}
.navbar a:hover {
    color: var(--main-color);
    font-size: 25px;
    text-shadow: 0 0 1rem var(--main-color);
}
.menu_icon{
    display: none;
}
.side_bar{
    position: fixed;
    background: var(--sidebar-color);
    width: 300px;
    height:100vh;
    display: none;
    flex-direction: column;
    gap: 4rem;
    overflow: auto;
}
.side_bar_icon{
    display: block;
}
.close_side_bar{
    display: none;
}
.interduction_part{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interduction_part img{
    width: 200px;
}
.side_bar_main_content{
    width: 100%;
    overflow: auto;
}
.side_bar_main_content ul li a{
    display: block;
	padding: 13px 30px;
	border-bottom: 1px solid var(--main-color);
	color: var(--text-color);
	font-size: 18px;
    transition: 2s;
	position: relative;
}
.side_bar_main_content ul li a:hover{
	color: var(--bg-second-color);
	background: var(--main-color);
    border-right: 2px solid rgb(5, 68, 104);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem ;
}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
    font-size: 4 rem;
    font-weight: 800;
}
.home-content p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.home_img img{
    width: 35vw;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem 1.5rem 1rem;
    transition: .5s;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--bg-second-color) ;
    box-shadow: 0rem 0 1rem var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: var(--bg-color);
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    text-align: left;
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.all_projects_section{
    background: var(--bg-color-color);
}
.all_projects_section h2{
    margin-bottom: 10rem;
}
.all_projects_section{
    padding: 20rem 10% 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all_projects_container{
    align-items: center;
    justify-content: center;
}
.all_projects_box{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem var(--bg-second-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2rem;
}
.all_projects_box:hover .all_projects_content{
    transform: translateY(0);
}
.all_projects_content{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--bg-color);
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .2),var(--main-color));
    transform: translateY(100%);
    transition: .5s;
}
.all_projects_content a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: aliceblue;
    border-radius: 50%;
    font-size: 4rem;
    color: var(--bg-color);
    margin: 1rem 1.5rem 1rem;
    transition: .5s;
}
.see_all_projects{
    display:none;
}
.all_projects_content a:hover{
    background: var(--bg-second-color);
    color:antiquewhite ;
    box-shadow: 0rem 0 1rem var(--bg-color);
}
.portfolio{
    background: var(--bg-second-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    width: 50vh;
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 2rem #000000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2rem;
}
.portfolio-box img{
    height: 50vh;
    width:auto;
}
.portfolio-box .portfolio-layer{
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
}
.portfolio-date{
    width: 100%;
    height: 6rem;display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
    
}
.portfolio-date a{
    width: 125px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    color: var(--main-color);
    padding: 7px;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    transition: .5s;
}
.portfolio-date a:hover{
    background: var(--main-color);
    color: var(--bg-second-color) ;
    box-shadow: 0rem 0 1rem var(--main-color);
}
footer{
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #303030e8;
    padding: 0px 3% 0px 3%;
    display: flex;
    justify-content: space-between;
}
footer a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
    transition: .5s;
}
footer a:hover{
    background: var(--main-color);
    color: var(--bg-second-color) ;
    box-shadow: 0rem 0 1rem var(--main-color);
}

@media (max-width:991px){
    .side_bar{
        z-index: 1;
        transition: 5s;
    }
    .header_bar{
        padding-right: 5%;
        padding-left: 0%;
        margin-left: 0%;
    }
    .header_bar a{
        justify-items: center;
        align-items: center;
        margin-left: 0%;
        padding-left: 0%;
    }
    .navbar{
        display: none;
    }
    .menu_icon{
        display: block;
    }

    .side_bar_icon{
        display: block;
    }
    .close_side_bar{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 15px;
        font-size: 20px;
        color: #000000;
        position: absolute;
        right: 25px;
        transition: .5s;
    }
    .side_bar .close_side_bar:hover{
        color: var(--main-color);
        font-size: 25px;
        transition: 0.1s;
    }
    .side_bar_icon{
        color:#fcfcfc;
        font-size: 50px;
        transition: .3s;
    }
    .side_bar_icon:hover{
        color: var(--main-color);
        font-size: 55px;
    }
    .home{
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }
    .portfolio-container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .portfolio-box{
        width: 80vh;
    }
    .portfolio-box img{
        height: auto;
        width:100%;
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }
}